.advantage {
  padding-bottom: 47px;
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &__item {
      width: 100%;
      display: block;
    }
  }
}

.advantage-list__item::before {
  content: "";
  height: 120px;
  background-color: var(--background-color-third);
  border-radius: 4px;
  display: block;
  margin-bottom: 30px;

  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}
.advantage-list__item.details::before {
  background-image: url(../images/svg/antenna.svg);
}
.advantage-list__item.punc::before {
  background-image: url(../images/svg/clock.svg);
}
.advantage-list__item.plan::before {
  background-image: url(../images/svg/diagram.svg);
}
.advantage-list__item.tech::before {
  background-image: url(../images/svg/astronaut.svg);
}
.advantage-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
.advantage-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
