.logo {
  // padding-top: 24px;
  // padding-bottom: 25px;
  // margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-color);
  text-decoration: none;
  &--part {
    color: var(--logo-color);
  }
}
