.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation), visibility var(--animation);
}
.modal {
  padding: 40px;

  width: 100%;
  min-height: 609px;
  background-color: var(--team-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--animation);
  @include mobile {
    width: 450px;
    min-height: 609px;
  }
  @include desctop {
    width: 528px;
    min-height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
}
.modal-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--team-background-color);
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.backdrop-icon {
  transition: fill var(--animation);
  .modal-btn:hover > & {
    fill: var(--btn-background-color);
  }
  .modal-btn:focus > & {
    fill: var(--btn-background-color);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
  @include desctop {
    line-height: 1.15;
  }
}
.modal-field {
  margin-bottom: 10px;
}
.modal-field-comment {
  margin-bottom: 20px;
}

.modal-form-item {
  padding-left: 42px;

  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border var(--animation);
  &:focus {
    border: 1px solid var(--link-color);
    border-radius: 4px;
  }
}
.modal-field label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-wrap {
  margin-top: 4px;
  position: relative;
}
.modal-name-icon,
.modal-tel-icon,
.modal-email-icon {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: fill var(--animation);

  .modal-form-item:focus + & {
    fill: var(--btn-background-color);
  }
}
.modal-textarea {
  padding: 12px 16px;
  margin-top: 4px;

  resize: none;
  height: 120px;
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-submit-field {
  margin-bottom: 30px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: center;
  @include desctop {
    font-size: 14px;
  }
}
.modal-submit-label {
  position: relative;
  line-height: 1.71;
}

.modal-icon,
.modal-icon-focus {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-icon-focus {
  fill: transparent;
  border-radius: 2px;
}
.modal-submit:checked + .modal-submit-label > .modal-icon {
  fill: transparent;
}
.modal-submit:focus + .modal-submit-label > .modal-icon {
  fill: var(--link-color);
}

.modal-submit:checked + .modal-submit-label .modal-icon-focus {
  fill: var(--second-color);
  background-color: var(--btn-background-color);
}

.modal-form-link {
  text-decoration-line: underline;
  color: var(--link-color);
}

.modal-form-btn {
  padding: 10px 52px;
  margin: 0 auto;
  display: block;

  background-color: var(--btn-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-color);
  transition: background-color var(--animation);
}
.modal-form-btn:hover {
  background-color: var(--btn-second-color);
}
